[Desktop Entry]
Version=1.0
Type=Application
Name=Install BBQLinux
Comment=Install BBQLinux to disk
Exec=/usr/bin/bbqlinux-installer
Icon=bbqlinux_icon_blue_48x48
Path=
Terminal=false
StartupNotify=false
GenericName=BBQLinux Installer
