[Desktop Entry]
Version=1.0
Type=Application
Name=Install BBQLinux
Comment=
Exec=gksudo /usr/bin/bbqlinux-installer
Icon=application-default-icon
Path=
Terminal=false
StartupNotify=false
GenericName=Let's you install BBQLinux
