[Desktop Entry]
Version=1.0
Type=Application
Name=Install BBQLinux
Comment=
Exec=su root -c /usr/bin/live-installer
Icon=application-default-icon
Path=
Terminal=false
StartupNotify=false
GenericName=Let's you install BBQLinux
